qd_schema_doc:
  path: /schema-doc
  controller: Qd\SchemaBundle\Controller\SchemaDocController::index

qd_schema_api:
  path: /schema-doc/api/schema
  methods: [GET]
  controller: Qd\SchemaBundle\Controller\SchemaApiController::schema

qd_comment_get_api:
  path: /schema-doc/api/comments
  methods: [GET]
  controller: Qd\SchemaBundle\Controller\CommentApiController::get

qd_comment_post_api:
  path: /schema-doc/api/comments
  methods: [ POST ]
  controller: Qd\SchemaBundle\Controller\CommentApiController::post

qd_comment_delete_api:
  path: /schema-doc/api/comments/{id}
  methods: [ DELETE ]
  controller: Qd\SchemaBundle\Controller\CommentApiController::delete

qd_releases_list:
  path: /schema-doc/api/releases
  controller: Qd\SchemaBundle\Controller\ReleaseApiController::list
  methods: [GET]

qd_releases_suggested_version:
  path: /schema-doc/api/releases/suggested-version
  controller: Qd\SchemaBundle\Controller\ReleaseApiController::suggestedVersion
  methods: [GET]

qd_releases_create:
  path: /schema-doc/api/releases
  controller: Qd\SchemaBundle\Controller\ReleaseApiController::create
  methods: [POST]

qd_releases_get:
  path: /schema-doc/api/releases/{id}
  controller: Qd\SchemaBundle\Controller\ReleaseApiController::get
  methods: [GET]

qd_releases_export_markdown:
  path: /schema-doc/api/releases/{id}/export/markdown
  controller: Qd\SchemaBundle\Controller\ReleaseApiController::exportMarkdown
  methods: [GET]

qd_releases_compare:
  path: /schema-doc/api/releases/compare/{id1}/{id2}
  controller: Qd\SchemaBundle\Controller\ReleaseApiController::compare
  methods: [GET]

qd_users_get:
  path: /schema-doc/api/users
  controller: Qd\SchemaBundle\Controller\UserApiController::get
  methods: [ GET ]

qd_nl_generate:
  path: /schema-doc/api/nl-to-sql/generate
  controller: Qd\SchemaBundle\Controller\NlToSqlController::generate
  methods: [ POST ]

qd_nl_estimate_cost:
  path: /schema-doc/api/nl-to-sql/estimate-cost
  controller: Qd\SchemaBundle\Controller\NlToSqlController::estimateCost
  methods: [ POST ]

qd_nl_status:
  path: /schema-doc/api/nl-to-sql/status
  controller: Qd\SchemaBundle\Controller\NlToSqlController::status
  methods: [ GET ]

qd_snapshots_entity_history:
  path: /schema-doc/api/snapshots/entity/{fqcn}
  controller: Qd\SchemaBundle\Controller\ReleaseApiController::entityHistory
  methods: [GET]
  requirements:
    fqcn: '.+'

qd_migrations_entity_history:
  path: /schema-doc/api/migrations/history/{fqcn}
  controller: Qd\SchemaBundle\Controller\MigrationHistoryController::getEntityHistory
  methods: [GET]
  requirements:
    fqcn: '.+'

qd_migrations_all_history:
  path: /schema-doc/api/migrations/history
  controller: Qd\SchemaBundle\Controller\MigrationHistoryController::getAllHistory
  methods: [GET]

qd_migrations_stats:
  path: /schema-doc/api/migrations/stats
  controller: Qd\SchemaBundle\Controller\MigrationHistoryController::getStats
  methods: [GET]

qd_migrations_list:
  path: /schema-doc/api/migrations/list
  controller: Qd\SchemaBundle\Controller\MigrationHistoryController::listMigrations
  methods: [GET]

# Entity Aliases API
qd_aliases_list:
  path: /schema-doc/api/aliases
  controller: Qd\SchemaBundle\Controller\EntityAliasController::list
  methods: [GET]

qd_aliases_by_entity:
  path: /schema-doc/api/aliases/entity/{fqcn}
  controller: Qd\SchemaBundle\Controller\EntityAliasController::byEntity
  methods: [GET]
  requirements:
    fqcn: '.+'

qd_aliases_map:
  path: /schema-doc/api/aliases/map
  controller: Qd\SchemaBundle\Controller\EntityAliasController::getMap
  methods: [GET]

qd_aliases_create:
  path: /schema-doc/api/aliases
  controller: Qd\SchemaBundle\Controller\EntityAliasController::create
  methods: [POST]

qd_aliases_update:
  path: /schema-doc/api/aliases/{id}
  controller: Qd\SchemaBundle\Controller\EntityAliasController::update
  methods: [PUT, PATCH]

qd_aliases_delete:
  path: /schema-doc/api/aliases/{id}
  controller: Qd\SchemaBundle\Controller\EntityAliasController::delete
  methods: [DELETE]

qd_schema_assets:
  path: /schema-doc/{path}
  requirements:
    path: '(?!api/).+'
  controller: Qd\SchemaBundle\Controller\SchemaDocController::asset
