services:
  Qd\SchemaBundle\:
    resource: '../../'
    exclude:
      - '../../Resources/'
      - '../../Entity/'
      - '../../Dto/'
    autowire: true
    autoconfigure: true

  Qd\SchemaBundle\Controller\:
    resource: '../../Controller/'
    public: true
    autowire: true
    autoconfigure: true
    tags: ['controller.service_arguments']

  Qd\SchemaBundle\Service\:
    resource: '../../Service/'
    autowire: true
    autoconfigure: true
    public: false

  Qd\SchemaBundle\Command\:
    resource: '../../Command/'
    autowire: true
    autoconfigure: true
    public: true
    tags: ['console.command']

  # Natural Language to SQL services
  Qd\SchemaBundle\Service\NlToSql\CostEstimator:
    arguments:
      $warnThreshold: '%qd_schema.nl_to_sql.cost.warn_threshold%'
      $maxPerRequest: '%qd_schema.nl_to_sql.cost.max_per_request%'

  Qd\SchemaBundle\Service\NlToSql\NlQueryAnalyzer:
    autowire: true

  Qd\SchemaBundle\Service\NlToSql\PathFinder:
    autowire: true

  Qd\SchemaBundle\Service\NlToSql\PromptBuilder:
    autowire: true

  # Migration Analyzer service
  Qd\SchemaBundle\Service\MigrationAnalyzer:
    arguments:
      $projectDir: '%kernel.project_dir%'
      $logger: '@logger'
      $migrationDir: null  # Will use default: %kernel.project_dir%/migrations
    tags:
      - { name: 'monolog.logger', channel: 'qd_schema' }

  # NL to SQL Orchestrator
  # The AI generator service (qd_schema.ai_generator) is created dynamically
  # by QdSchemaExtension based on the configured provider
  Qd\SchemaBundle\Service\NlToSql\NlToSqlOrchestrator:
    arguments:
      $aiGenerator: '@?qd_schema.ai_generator'
